<div class="jumbotron" id="mainhead">
  <h1>Scrape the Times!</h1>
  <button class="btn btn-light" id="scraper">Scrape now</button>
</div>
<main class="container">
  <div class="row">
    <h2>Articles</h2>
  </div>
  {{#each articles}}
  <div class="row mt-3">
    <a href={{this.url}} target="_blank">
      <h4>{{this.title}}</h4>
    </a>
    <p>{{this.summary}}</p>
  </div>
  <div class="row">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#a{{this._id}}">
      Comments
    </button>
  </div>
  {{/each}}
</main>

{{#each articles}}
<div class="modal fade" id="a{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Comments on {{this.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container">
        {{#each this.comments}}
        <div class="commentcontainer">
          <div class="row">
            <div class="col-11">
              <p>{{this.username}} says...</p>
            </div>
            <div class="col-1">
              <span style="color:red" class="delete" id="{{this._id}}">&times;</span>
            </div>
          </div>
          <div class="row comment">
            <p>{{this.body}}</p>
          </div>
          <hr />
        </div>
        {{/each}}
      </div>
      <form method="POST" class="commentform" id="{{this._id}}">
        <p>Add your comment</p>
        <label for="username">Name</label>
        <input type="text" id="username-{{this._id}}">
        <label for="body">Comment</label>
        <input type="text" id="body-{{this._id}}">
        <button class="btn btn-primary" type="submit">Send</button>
      </form>

    </div>
  </div>
</div>
{{/each}}

<script>
  $(document).ready(function () {
    $("#scraper").on("click", function (event) {
      event.preventDefault();
      $.ajax({
        url: "/scrape",
        method: "GET"
      }).then(function (res) {
        location.reload();
      }).catch(function () {
        alert("No new stories!");
      });
    });

    $(".commentform").on("submit", function (event) {
      event.preventDefault();
      var modalid = this.id
      console.log(modalid);
      console.log($("#username-" + modalid).val(), $("#body-" + modalid).val());
      $.ajax({
        url: "/api/notes/" + this.id,
        method: "POST",
        data: {
          username: $("#username-" + modalid).val(),
          body: $("#body-" + modalid).val()
        }
      }).then(function (res) {
        $("form").find("input:text").val("");
        console.log(res);
        $.ajax({
          url: "/api/articles/" + res._id,
          method: "GET"
        }).then(function (res) {
          console.log(res[0].comments);
          console.log(res[0].comments[res[0].comments.length - 1]);
          $(".modal-body").append(
            "<div class='commentcontainer'><div class='row'><div class='col-11'><p>" + res[0].comments[res[0].comments.length - 1].username + " says...</p></div><div class='col-1'><span style='color:red' class='delete' id='" + res[0].comments[res[0].comments.length - 1]._id + "''>&times;</span></div></div><div class='row'><p>" + res[0].comments[res[0].comments.length - 1].body + "</p></div><hr /></div>");
        });
      });
    });

    $(document).on("click", ".delete", function (event) {
      event.preventDefault();
      $.ajax({
        url: "/api/notes/" + this.id,
        method: "DELETE"
      }).then(function (res) {
        console.log(res);
        $("#" + res._id).parent("div").parent("div").parent("div").hide();
      });
    });
  });

</script>